.projects {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    width: 1536px;
    margin: 0 auto;
    /* font-family: var(--font-sans); */
    overflow: auto;
    grid-template-columns: repeat(6, 1fr);
}

.scroller {
    width: 1536px;
    overflow-x: scroll;
}

@media screen and (max-width: 1536px) {
    .scroller {
        width: 100%;
    }
}